html {
  background-color: #a4a4a4;
}

h1{
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 65px;
  margin-top: 100px;

}
h2{
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 35px;
  margin-top: 60px;
}
h3{
  text-align: center;
  color: rgb(47, 47, 47);
  font-size: 25px;
  margin-top: 60px;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  margin-left: -8px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.miniblock{
  border: 5px solid rgb(51, 51, 51);
  margin-bottom: 30px;
  background-color: #cacaca;
}

button {
  margin: 0 auto;
  display: block;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: rgb(43, 43, 43);
  background-size: 100%;
}
#btn{
  width: 15%;
  margin-bottom: 50px;
}

